* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#imagePesada {
    height: 380px;
    background-image: linear-gradient(to bottom, rgb(241, 241, 171), rgb(241, 241, 241));
}
.bord {
    border: black solid 1px;
}
header {
    border: black solid 1px;
    text-align: center;
    max-width: 900px;
    height: 900px;
    min-width: 300px;
    margin: auto;
    overflow: hidden;
}
#trocaImage{
    width: 100%;
    height: auto;
    overflow: hidden;
}
button{

    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
button:active{
    box-shadow: inset 0px 0px 10px 0px;
}
.criadopor{
    font-size: 10px;
    text-align: end;
}
#AgoraAguarde{
    transform: rotate(-90deg);
    margin-left: -861px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.253);

}
#frasesLoucas{
    box-shadow: rgba(0, 0, 0, 0.548) 0px 0px 5px 0px;
    padding: 10px;
    width: 100%;
    font-size: 45px;
    margin: 0px auto;
    background-color: rgb(241, 241, 171);
}

@media (max-width:360px) {
    header {
        
        width: 360px;        
        margin: 0 auto;
    }
    #trocaImage{

        width: 360px;
    }
    h1{
        width: 360px;
        text-align: center;
        font-size: 40px;
    }
    h2 {
        text-align: center;
        font-size: 20px;
    }
    button{
        margin: auto;
        padding: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    .criadopor{
        font-size: 10px;
        text-align: end;
    }
    #imagePesada {
        height: 380px;
    }
}